<p class="title">センサ</p>
<table class="table is-fullwidth">
  <tr><th>湿度センサ</th><td><p id="shitsudo"></p></td></tr>
  <tr><th>音センサ</th><td><p id="oto"></p></td></tr>
  <tr><th>温度センサ</th><td><p id="ondo"></p></td></tr>
  <tr><th>光センサ</th><td><p id="light"></p></td></tr>
  <tr><th>取得時間</th><td><p id="created_at"></p></td></tr>
</table>