<div class="tile is-ancestor">
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-warning">
        <p class="title">湿度・温度センサ履歴</p>
        <div id="chartTarget">
          <canvas id="chartCanvas"style="display: block; width: 600px; background-color:white;"></canvas>
          <div style="opacity:0;" class="chartTooltip center">
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<%= render partial: 'js' %>
