#SW1{
  width:10px;
  height:10px;
  border-radius:30px;
  background-color:black;
}
#SW2{
  width:10px;
  height:10px;
  border-radius:30px;
  background-color:black;
}
#SOUND{
  width:10px;
  height:10px;
  border-radius:30px;
  background-color:black;
}