<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        スマート田んぼ
      </h1>
      <h2 class="subtitle">
        田所さんちの様子
      </h2>
    </div>
  </div>
  <div class="tabs">
    <ul>
      <li><%= link_to 'センサ情報', root_path %></li>
      <li><%= link_to '散水履歴', mizu_history_index_path %></li>
    </ul>
  </div>
</section>