<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        スマート田んぼ
      </h1>
      <h2 class="subtitle">
        田所さんちの様子
      </h2>
    </div>
  </div>
</section>