<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<%= render partial: 'shared/header' %>
<div class="container">
  <div class="notification">
    <%= render partial: 'content' %>
  </div>
</div>

<script>
function get_command(){
 $.ajax({
      type: "GET",
      url: "http://192.168.8.103:3000/logs",
      dataType:'json',
      success: function(command){
        for (key in command) {
          document.getElementById(key).innerText = command[key];
        }
      }
    }); 
}


function sleep(ms) {
  return new Promise(function(resolve) {
    setTimeout(resolve, ms);
  });
}

async function mainFunction() {
  try {
    while(true){
    console.log('called')
    get_command();
    await sleep(1000);
  }
  } catch (error) {
    console.error("error", error);
  }
}
mainFunction();

</script>