
<!DOCTYPE html>
<html>
  <head>
    <title>Raspberrypi</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="NZwIsAPPTcoZL/7jPVhsDE+wAxfSAHGz8vgt0gJcSoGb2Hi9zJnhUh7HvT4WT5ID3kysjxltn6ljtNxlCfc6LA==" />
    

    </%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=2">

<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        スマート田んぼ
      </h1>
      <h2 class="subtitle">
        田所さんちの様子
      </h2>
    </div>
  </div>
</section>
<div class="container">
  <div class="notification">
    <div class="tile is-ancestor">
  <div class="tile">
    <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-info">
        <p class="title">センサ</p>
        <table class="table is-fullwidth">
          <tr><th>湿度センサ</th><td>2.1</td></tr>
          <tr><th>音センサ</th><td>1.2</td></tr>
          <tr><th>温度センサ</th><td>25.5</td></tr>
          <tr><th>光センサ</th><td>393.0</td></tr>
          <tr><th>取得時間</th><td>2019年02月02日 07:57:18</td></tr>
        </table>
      </article>
      <article class="tile is-child notification is-success">
        <p class="title">設定変更</p>
        <table class="table">
            <tr>
              <form class="edit_command" id="edit_command_89" action="/commands/89" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="IhyJr6hjfsevk3jyZUxbS6+7N7Iz71wSRP1O0TAGjummgDxud4+ZEwdTzcz1Vkd0pi6rqY5Guhx3Z62xQsRfNw==" />
                <input value="false" type="hidden" name="command[mizu]" id="command_mizu" />
                <td>散水</td>
                <td><input type="submit" name="commit" value="ボタン" class="button is-pulled-right is-primary" data-disable-with="ボタン" /></td>
</form>            </td>
            <tr>
              <form class="edit_command" id="edit_command_89" action="/commands/89" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="wjHH5JodivRqwWEVQblqOBNs0jbZCzLIEgTGleI3XfFGrXIlRfFtIMIB1CvRo3YHGvlOLWSi1MYhniX1kPWMLw==" />
                <input value="true" type="hidden" name="command[red_led]" id="command_red_led" />
                <td>赤LED</td>
                <td><input type="submit" name="commit" value="ボタン" class="button is-pulled-right " data-disable-with="ボタン" /></td>
</form>            </td>
            <tr>
              <form class="edit_command" id="edit_command_89" action="/commands/89" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="cnpbVKtTwZivCcF0MK8YB7TbEZqktJ6UqsO/IKuFZEz25u6VdL8mTAfJdEqgtQQ4vU6NgRkdeJqZWVxA2Ue1kg==" />
                <input value="true" type="hidden" name="command[green_led]" id="command_green_led" />
                <td>緑LED</td>
                <td><input type="submit" name="commit" value="ボタン" class="button is-pulled-right " data-disable-with="ボタン" /></td>
</form>            </td>
            <tr>
              <form class="edit_command" id="edit_command_89" action="/commands/89" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="w1F7lcNibWx1cG/ToqeRFC9pqbWcv3IfNQ6w396U3llHzc5UHI6KuN2w2u0yvY0rJvw1riEWlBEGlFO/rFYPhw==" />
                <input value="false" type="hidden" name="command[blue_led]" id="command_blue_led" />
                <td>青LED</td>
                <td><input type="submit" name="commit" value="ボタン" class="button is-pulled-right is-primary" data-disable-with="ボタン" /></td>
</form>            </td>
        </table>
      </article>
    </div>
  </div>
</div>
  </div>
</div>

  </body>
</html>
